$primary-background-color: #fff5f6;
$secondary-background-color: #ffb8ca;
$menu-background-color: #e17992;
$primary-text-color: #907e82;
$title-text-color: #d41443;
$label-text-color: #ffa5ba;
$second-product-color: #f0d1a5;
$third-product-color: #c2e297;
$first-accent-color: #ecebeb;
$second-accent-color: #c7133e;
$third-accent-color: #d41342;
$icons-footer-bgr: #fea5bb;
$function-transition: 250ms ease;
