<section class="about">
  <div class="background">
    <div class="container">
      <p class="about__text" id="about">TRADITION AND LOVE</p>
      <h2 class="about__title">HOW IT'S MADE?</h2>
      <div class="about__box">
        <div class="about__img">
          <picture>
            <source
              srcset="images/about-d-516@1x.png 1x, images/about-d-1032@2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/about-t-340@1x.png 1x, images/about-t-680@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="images/about-m-280@1x.png 1x, images/about-m-560@2x.png 2x"
              media="(min-width: 320px)"
            />

            <img src="images/about-d-516@1x.png" alt="cow" />
          </picture>
        </div>

        <div class="about-desc">
          <p class="about-text-one">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about-text-two">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="about-text-two-indent">Aliquam erat volutpat. Aenean accumsan.</p>

          <button data-modal-about-open class="about-modal__open button" type="button">
            <span>Read more</span>
            <svg
              class="about-modal-icon"
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="14.667"
              height="13.333"
              viewBox="0 0 11 10"
            >
              <path
                d="M6.203.866c-.105.037-.204.111-.44.332-.258.236-.318.347-.303.549.007.09.028.17.058.226.035.06.404.41 1.222 1.156L7.913 4.2l-3.724.004-3.727.006-.108.045a.573.573 0 0 0-.302.268C.004 4.614 0 4.64 0 4.992v.374l.067.119c.068.125.17.214.313.273.078.031.325.033 3.82.04l3.735.003-1.205 1.1C5.402 8.109 5.456 8.053 5.456 8.3c0 .18.084.305.372.56.133.12.274.233.315.252.106.053.451.053.559.002.103-.05 4.154-3.732 4.227-3.841.052-.078.058-.108.058-.274 0-.142-.009-.2-.039-.254C10.893 4.653 6.844.967 6.725.903 6.648.862 6.6.853 6.457.846a.872.872 0 0 0-.254.02z"
              />
            </svg>
          </button>
        </div>
      </div>

      <!--Modal-->
      <div class="backdrop is-about" data-modal-about>
        <div class="about-modal">
          <button class="about-modal__close" data-modal-about-close>
            <b>Close</b>
          </button>
          <div class="about-form">
            <h3 class="about-form__title">Tam laeti sumus te videre!</h3>
            <p class="about-form__text">Ubi tua dulcia somnia vera</p>
            <div class="about-form-box">
              <p class="about-form__advertising">
                <span class="about-form__advertising--fatty"
                  >Potesne existimare habere somnia vestra glaciem cremor? Facere possumus.</span
                >
                <br />Tam laeti sumus te videre! Ubi tua dulcia somnia vera Potesne existimare
                habere somnia vestra glaciem cremor? Facere possumus. Ice Somnium Tractat
                inserviebat suo praemio victori homemade saporibus glaciei cremoris ad locales et
                visitatores pariter cum 2018. Celebris nostra glacies cremor notus est propter
                eius textura, aequilibritatem cremoris, suavitatis, et saporis qui temporis
                experimentum stabat. Expectamus per multos annos servientes vicinitati nostrae
                venire!
              </p>
              <img class="about-form-foto" src="./images/icecream-modal.jpg" alt="ice cream" />
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
