<section class="about-block">
    <p class="about__text">tradition and love </p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="background">
    <div class="container about-desc">
        <img class="about-image"
        src="./images/about-d-516@1x.png"
        alt="cow"
      />
       <!--<picture>
            <source
             media="(min-width:1280px)"
             srcset="
             ./images/about-d-516@1x.png
             ./images/about-d-1032@2x.png 
             "
           />
           <source
             media="(min-width:768px)"
             srcset="
             ./images/about-t-340@1x.png
             ./images/about-t-680@2x.png
             "
           />
           <source
             media="(min-width:320px)"
             srcset="
             ./images/about-m-280@1x.png
             ./images/about-m-560@2x.png
                      "
           />

         </picture>-->
     <div class="about-desc__sektion">
        <p class="about-desc__text-one">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p class="about-desc__text-two">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    
    
        Aliquam erat volutpat. Aenean accumsan.</p>
   
        <button data-modal-open class="about-modal__open button" type="button">
        Read more
        </button>
    </div>
    <!--Modal-->
    <div class="about-modal" data-modal>
        <button class="about-modal__close" data-modal-close>
            <svg class="about-modal__close-icon" >
                <use class="" href=""></use>
            </svg>
        </button>
            <form class="about-form">
                <h3 class="about-form__title">Tam laeti sumus te videre!</h3>
                <p class="about-form__text">Ubi tua dulcia somnia vera</p>
                <p class="about-form__advertising">
                    <b class="about-form__advertising--fatty">Potesne existimare habere somnia vestra glaciem cremor? Facere possumus.</b>
                    Tam laeti sumus te videre!
                    Ubi tua dulcia somnia vera
                    Potesne existimare habere somnia vestra glaciem cremor? Facere possumus.
                    Ice Somnium Tractat inserviebat suo praemio victori homemade saporibus glaciei cremoris ad locales et visitatores pariter cum 2018. Celebris nostra glacies cremor notus est propter eius textura, aequilibritatem cremoris, suavitatis, et saporis qui temporis experimentum stabat.
    
                    Expectamus per multos annos servientes vicinitati nostrae venire!
                </p>
            </form>
    </div>
    </div>
</div>
    </section>