<section class="advantage-section">
  <h2 class="header-advantages hidden">advantages</h2>
  <div class="container">
    <ul class="list-reviews">
      <li class="item-review icon-udder">
        <p class="number">721</p>
        <p class="text-item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="item-review icon-apple">
        <p class="number">16kg</p>
        <p class="text-item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="item-review icon-icecream">
        <p class="number">84</p>

        <p class="text-item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
