<section class="advantage-section"> 
    <h2 class="header-advantages hidden">advantages</h2>
    <div class="container">
        <ul class="list-reviews">
            <li class="item-review icon-udder">
                <span class="number">721
                    <p class="text-item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </span>
            </li>
            <li class="item-review icon-apple">
                <span class="number">16kg
                    <p class="text-item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </span>
            </li>
            <li class="item-review icon-icecream">
                <span class="number">84
                    <p class="text-item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </span>
            </li>
        </ul>
    </div>
</section>