<section class="section section-contacts">
    <h2 class="section__title">Our contacts</h2>

    <div class="container">
        <ul class="contacts">
            <li class="contacts__item">
                <div class="contacts__card">
                    <p>CAFE</p>

                    <ul class="contacts__links">
                        <li class="">
                            <a href="tel:++610383766284" class="contacts__link contacts__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="">
                            <a href="mailto:noreply@envato.com" class="contacts__link contacts__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__card">
                    <p>FOOD TRUCK</p>

                    <ul class="contacts__links">
                        <li class="">
                            <a href="tel:++610383766284" class="contacts__link contacts__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="">
                            <a href="mailto:noreply@envato.com" class="contacts__link contacts__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__card">
                    <p>CAFE</p>

                    <ul class="contacts__links">
                        <li class="">
                            <a href="tel:++610383766284" class="contacts__link contacts__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="">
                            <a href="mailto:noreply@envato.com" class="contacts__link contacts__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
