<section class="section section-contacts">
    <h2 class="section__title hidden">Our contacts</h2>

    <div class="container">
        <ul class="contacts">

            <li class="contacts__item">
                <div class="contacts__card">
                    <p class="contacts__label">CAFE</p>

                    <h3 class="contacts__title">Chicago</h3>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__schedule">
                        <ul class="schedule">
                            <li class="schedule__item">
                                <p class="schedule__title">Monday - Friday</p>
                                <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__title">Saturday - Sunday</p>
                                <p class="schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>

                    <ul class="contacts__links">
                        <li class="">
                            <a href="tel:++610383766284" class="contacts__link contacts__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="">
                            <a href="mailto:noreply@envato.com" class="contacts__link contacts__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts__card">
                    <p class="contacts__label contacts__label--green">FOOD TRUCK</p>

                    <h3 class="contacts__title">Los Angeles</h3>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__schedule">
                        <ul class="schedule">
                            <li class="schedule__item">
                                <p class="schedule__title">Monday - Friday</p>
                                <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__title">Saturday - Sunday</p>
                                <p class="schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>

                    <ul class="contacts__links">
                        <li class="">
                            <a href="tel:++610383766284" class="contacts__link contacts__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="">
                            <a href="mailto:noreply@envato.com" class="contacts__link contacts__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts__card">
                    <p class="contacts__label">CAFE</p>

                    <h3 class="contacts__title">New York</h3>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <div class="contacts__schedule">
                        <ul class="schedule">
                            <li class="schedule__item">
                                <p class="schedule__title">Monday - Friday</p>
                                <p class="schedule__time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="schedule__item">
                                <p class="schedule__title">Saturday - Sunday</p>
                                <p class="schedule__time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>

                    <ul class="contacts__links">
                        <li class="">
                            <a href="tel:++610383766284" class="contacts__link contacts__tel">+61(0) 383 766 284</a>
                        </li>
                        <li class="">
                            <a href="mailto:noreply@envato.com" class="contacts__link contacts__mail">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="contacts__buttons">
            <button type="button" class="contacts__btn">Our Locations</button>
            <button type="button" class="contacts__btn">Franchise</button>
        </ul>
    </div>
</section>
