<section class="gallery">
  <div class="container">
    <div class="grid-container">
      <div class="grid-item first-column">
        <picture
          ><source
            media="(min-width: 1280px)"
            srcset="./images/item1d139@1x.png 1x, ./images/item1d139@2x.png 2x" />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="./images/item1t85@1x.png 1x, ./images/item1t85@2x.png 2x" />
          <source
            media="(min-width: 320px)"
            srcset="./images/item1m60@1x.png 1x, ./images/item1m60@2x.png 2x" />
          <img loading="lazy" src="./images/item1d139@1x.png" alt="ice cream"
        /></picture>
      </div>
      <div class="grid-block second-column">
        <div class="grid-item">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item2d139@1x.png 1x, ./images/item2d139@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item2t85@1x.png 1x, ./images/item2t85@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item2m60@1x.png 1x, ./images/item2m60@2x.png 2x" />
            <img loading="lazy" src="./images/item2d139@1x.png" alt="ice cream"
          /></picture>
        </div>
        <div class="grid-item">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item3d139@1x.png 1x, ./images/item3d139@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item3t85@1x.png 1x, ./images/item3t85@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item3m60@1x.png 1x, ./images/item3m60@2x.png 2x" />
            <img loading="lazy" src="./images/item3d139@1x.png" alt="ice cream"
          /></picture>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-item big">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item4d285@1x.png 1x, ./images/item4d285@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item4t175@1x.png 1x, ./images/item4t175@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item4m124@1x.png 1x, ./images/item4m124@2x.png 2x" />
            <img loading="lazy" src="./images/item4d285@1x.png" alt="ice cream"
          /></picture>
        </div>
        <div class="grid-item">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item5d139@1x.png 1x, ./images/item5d139@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item5t85@1x.png 1x, ./images/item5t85@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item5m60@1x.png 1x, ./images/item5m60@2x.png 2x" />
            <img loading="lazy" src="./images/item5d139@1x.png" alt="ice cream"
          /></picture>
        </div>
      </div>
      <div class="grid-block fourth-column">
        <div class="grid-item">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item6d139@1x.png 1x, ./images/item6d139@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item6t85@1x.png 1x, ./images/item6t85@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item6m60@1x.png 1x, ./images/item6m60@2x.png 2x" />
            <img loading="lazy" src="./images/item6d139@1x.png" alt="ice cream"
          /></picture>
        </div>
        <div class="grid-item">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item7d139@1x.png 1x, ./images/item7d139@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item7t85@1x.png 1x, ./images/item7t85@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item7m60@1x.png 1x, ./images/item7m60@2x.png 2x" />
            <img loading="lazy" src="./images/item7d139@1x.png" alt="ice cream"
          /></picture>
        </div>
      </div>
      <div class="grid-block fifth-column">
        <div class="grid-item">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item8d139@1x.png 1x, ./images/item8d139@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item8t85@1x.png 1x, ./images/item8t85@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item8m60@1x.png 1x, ./images/item8m60@2x.png 2x" />
            <img loading="lazy" src="./images/item8d139@1x.png" alt="ice cream"
          /></picture>
        </div>
        <div class="grid-item">
          <picture
            ><source
              media="(min-width: 1280px)"
              srcset="./images/item9d139@1x.png 1x, ./images/item9d139@2x.png 2x" />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/item9t85@1x.png 1x, ./images/item9t85@2x.png 2x" />
            <source
              media="(min-width: 320px)"
              srcset="./images/item9m60@1x.png 1x, ./images/item9m60@2x.png 2x" />
            <img loading="lazy" src="./images/item9d139@1x.png" alt="ice cream"
          /></picture>
        </div>
      </div>
      <div class="grid-item sixth-column">
        <picture
          ><source
            media="(min-width: 1280px)"
            srcset="./images/item10d139@1x.png 1x, ./images/item10d139@2x.png 2x" />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="./images/item10t85@1x.png 1x, ./images/item10t85@2x.png 2x" />
          <source
            media="(min-width: 320px)"
            srcset="./images/item10m60@1x.png 1x, ./images/item10m60@2x.png 2x" />
          <img loading="lazy" src="./images/item10d139@1x.png" alt="ice cream"
        /></picture>
      </div>
    </div>
  </div>
</section>
