<section class="gallery">
  <div class="background">
    <div class="container grid-container">
      <div class="grid-item">1<img src="./images/about-m-560@2x.png" width="560" alt="milk" /></div>
      <div class="grid-block">
        <div class="grid-item">
          2<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          3<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-item big">
          4<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          5<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-item">
          6<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          7<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-block jump">
        <div class="grid-item">
          8<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          9<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-item">
        10<img src="./images/about-m-560@2x.png" width="560" alt="milk" />
      </div>
    </div>
  </div>
</section>
