<section class="gallery">
  <div class="container">
    <div class="grid-container">
      <div class="grid-item first-column">
        <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
      </div>
      <div class="grid-block second-column">
        <div class="grid-item">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-item big">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-block fourth-column">
        <div class="grid-item">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-block fifth-column">
        <div class="grid-item">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
        <div class="grid-item">
          <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
        </div>
      </div>
      <div class="grid-item sixth-column">
        <img src="./images/about-m-560@2x.png" width="560" alt="milk" />
      </div>
    </div>
  </div>
</section>
