<header id="home" class="header-section">
  <div class="sitenav-menu">
    <input class="checkbox" id="check-sidebar" type="checkbox" />
    <label class="menu-btn" for="check-sidebar">
      <span class="menu-icon"></span>
    </label>
  </div>
  <div class="container container__header">
    <a class="logo" href="./index.html">
      <svg class="logo__icon" width="50" height="50">
        <use href="./images/symbol-defs.svg#logo-nav"></use>
      </svg>
      <p class="logo__text">ICECREAM</p>
    </a>
    <ul class="sitenav">
      <li class="sitenav__item"><a class="sitenav__link" href="#home">Home</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#about-us">About us</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#about-us">How it’s made?</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#products">Our products</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#contacts">Contact</a></li>
    </ul>
    <button type="button" class="hero-btn">
      <span class="btn-gap">Buy now</span>
      <svg width="8" height="10">
        <use href="./images/symbol-defs.svg#icon-arrow-pink"></use>
      </svg>
    </button>
  </div>
</header>
<div class="menu">
  <button type="button" class="hero-btn--menu">
    <span class="btn-gap">Buy now</span>
    <svg width="8" height="10">
      <use href="./images/symbol-defs.svg#icon-arrow-pink"></use>
    </svg>
  </button>
  <ul class="menu__list">
    <li class="menu__item"><a class="sitenav__link" href="#home">Home</a></li>
    <li class="menu__item"><a class="sitenav__link" href="#about-us">About us</a></li>
    <li class="menu__item"><a class="sitenav__link" href="#about-us">How it’s made?</a></li>
    <li class="menu__item"><a class="sitenav__link" href="#products">Our products</a></li>
    <li class="menu__item"><a class="sitenav__link" href="#contacts">Contact</a></li>
  </ul>
</div>

<!-- =======Hero section======= -->
