<header id="home" class="header-section">
  <div class="container container__header">
    <div class="logo">
      <svg class="logo__icon" width="50" height="50">
        <use href="./images/symbol-defs.svg#logo-nav"></use>
      </svg>
      <p class="logo__text">ICECREAM</p>
    </div>
    <ul class="sitenav">
      <li class="sitenav__item"><a class="sitenav__link" href="#home">Home</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#about-us">About us</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#about-us">How it’s made?</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#products">Our products</a></li>
      <li class="sitenav__item"><a class="sitenav__link" href="#contacts">Contact</a></li>
    </ul>

    <div class="sitenav-menu">
      <input class="checkbox" id="check-sidebar" type="checkbox" />
      <label class="menu-btn" for="check-sidebar">
        <span class="menu-icon"></span>
      </label>
      <div class="menu">
        <button type="button" class="hero-btn--menu">
          <span class="btn-gap">Buy now</span>
          <svg width="8" height="10">
            <use href="./images/symbol-defs.svg#icon-arrow-pink"></use>
          </svg>
        </button>
        <ul class="menu__list">
          <li class="menu__item"><a class="sitenav__link" href="#home">Home</a></li>
          <li class="menu__item"><a class="sitenav__link" href="#about-us">About us</a></li>
          <li class="menu__item"><a class="sitenav__link" href="#about-us">How it’s made?</a></li>
          <li class="menu__item"><a class="sitenav__link" href="#products">Our products</a></li>
          <li class="menu__item"><a class="sitenav__link" href="#contacts">Contact</a></li>
        </ul>
      </div>
    </div>

    <button type="button" class="hero-btn">
      <span class="btn-gap">Buy now</span>
      <svg width="8" height="10">
        <use href="./images/symbol-defs.svg#icon-arrow-pink"></use>
      </svg>
    </button>
  </div>
</header>

<!-- =======Hero section======= -->
<section class="hero-section">
  <div class="container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__title--accent">passion</span>
    </h1>

    <ul class="hero-nav">
      <li class="hero-nav__item"><a class="hero-nav__link" href="#products">Products</a></li>
      <li class="hero-nav__item hero-nav__item--white">
        <a class="hero-nav__link" href="#about-us">How it’s made?</a>
      </li>
    </ul>

    <div class="hero-description">
      <img
        srcset="
          ./images/hero-1t-124@1x.png 124w,
          ./images/hero-1t-248@2x.png 248w,
          /images/hero-2t-143@1x.png  143w,
          ./images/hero-1d-188@1x.png 188w,
          ./images/hero-1d-376@2x.png 376w
        "
        sizes="(min-width:1280px) 188px, (min-width:768px) 124px, "
        alt="eco products"
        src="./images/hero-1d-188@1x.png"
      />
      <div>
        <p class="hero-description__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="hero-description__icon">
          <svg width="8.667" height="7.333">
            <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="hero-circle"></div>
    <div class="img-icecream">
      <img
        srcset="
          ./images/hero-2m-171@1x.png 171w,
          ./images/hero-2m-342@2x.png 342w,
          ./images/hero-2t-143@1x.png 143w,
          ./images/hero-2t-286@2x.png 286w,
          ./images/hero-2d-236@1x.png 236w,
          ./images/hero-2d-472@2x.png 472w
        "
        sizes="(min-width:1280px) 236px, (min-width:768px) 143px, (min-width:320px) 171px  "
        alt="large ice-cream"
        src="./images/hero-2m-171@1x.png"
      />
    </div>

    <ul class="hero-figur">
      <li class="hero-figur__item">
        <div class="figur-circle"></div>
        <p class="hero-figur__number">16</p>
        <p class="hero-figur__place">cafes</p>
      </li>
      <li class="hero-figur__item">
        <div class="figur-circle"></div>
        <p class="hero-figur__number">23</p>
        <p class="hero-figur__place">food trucks</p>
      </li>
    </ul>
    <div class="img-girl">
      <img
        srcset="
          ./images/hero-3t-168@1x.png 168w,
          ./images/hero-3t-336@2x.png 336w,
          ./images/hero-3d-293@1x.png 293w,
          ./images/hero-3d-586@2x.png 586w
        "
        sizes="(min-width:1280px) 293px, (min-width:768px) 168px, "
        alt="tasty ice-cream"
        src="./images/hero-3d-293@1x.png"
      />
    </div>
  </div>
</section>
