<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../sass/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway:wght@700&family=Titan+One&display=swap" rel="stylesheet">

</head>
<body>
<section class="products">
<p class="products__headind-label">100% NATURAL</p>
<h2 class="products__heading">PRODUCTS</h2>
<div class="products__block">
    
        <ul class="products-block__menu">
            <li class="">
                <img src="../images/product-1m-249@1x.png" alt="">
                
            </li>
            <li>
                <h3 class="product-menu__item__text">ICE CREAM</h3>

            </li>
            <li><p class="product-menu__item__decoration">...</p>
            </li>
            <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <li> <svg> <use src="../images/right-arrow.svg">  </use></svg>
            </li>
        </ul>
    
    
    
        <ul>
            <li>
                <img src="../images/product-2m-249@1x.png" alt="">
                
            </li>
            <li>
                <h3>ICE COFFEE</h3>

            </li>
            <LI><P>...</P>
            </LI>
            <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <li> <svg> <use src="../images/right-arrow.svg">  </use></svg>
            </li>
        </ul>
    
        <ul>
            <li>
                <img src="../images/product-3m-249@1x.png" alt="">
                
            </li>
            <li>
                <h3>MILKSHAKES</h3>

            </li>
            <li><p>...</p>
            </li>
            <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </li>
            <li> <svg> <use src="../images/right-arrow.svg">  </use></svg>
            </li>
        </ul>
    
    
</div>
</section>
</body>