<section id="products" class="products">
  <div class="container">
    <p class="products__headind-label">100% NATURAL</p>
    <h2 class="products__heading">PRODUCTS</h2>
    <ul class="products-menu">
      <li class="products-menu__item ice-cream">
        <h3 class="product-menu__item__text">ICE CREAM</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.<span class="text-non">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="box">
          <a class="arrow" href="#">
            <svg width="14.667" height="13.333">
              <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
            </svg>
          </a>
        </button>
      </li>
      <li class="products-menu__item ice-coffee">
        <h3 class="product-menu__item__text">ICE COFFEE</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.<span class="text-non">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="box">
          <a class="arrow" href="#">
            <svg width="14.667" height="13.333">
              <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
            </svg>
          </a>
        </button>
      </li>
      <li class="products-menu__item milkshakes">
        <h3 class="product-menu__item__text">MILKSHAKES</h3>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et.<span class="text-non">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="box">
          <a class="arrow" href="#">
            <svg width="14.667" height="13.333">
              <use href="./images/symbol-defs.svg#icon-right-arrow"></use>
            </svg>
          </a>
        </button>
      </li>
    </ul>
  </div>
</section>
