
.advantage-section {
    background: $primary-background-color;
    padding: 90px 0 100px 0;
    @media screen and (min-width: 768px) {
      padding: 116px 0 140px 0;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 90px;
    }
}
.list-reviews {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0 -30px;
  }
}
.item-review {
  padding-top: 16px;
  position: relative;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
    margin: 0 30px;
    padding-top: 40px;
  }
}
.item-review::before {
  position: absolute;
  top: -50px;
  content: url('../images/icon-1.svg');
}
.icon-apple::before {
  content: url('../images/icon-2.svg');
}
.icon-icecream::before {
  content: url('../images/icon-3.svg');
}
.icon-udder:hover::before, 
.icon-apple:hover::before,
.icon-icecream:hover::before {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.number {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $title-text-color;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.04em;
  }
}
.text-item {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.04em;
    color: $secondary-text-color;
    padding: 15px 0 40px 0;
    margin-bottom: 40px;
    max-width: 260px;
    text-transform: none;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 174%;
    }
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 176%;
        letter-spacing: 0.02em;
    }
}
.item-review:nth-child(3) .text-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.item-review .text-item:last-child {
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}
