.gallery {
  background-image: linear-gradient($primary-background-color 39%, #ffffff 39%);
}

.grid-container {
  position: relative;
  display: flex;
  margin-bottom: -2px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -4px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -6px;
  }

  margin: 0 auto;
}
.grid-block {
  display: flex;
  flex-direction: column;
}
.grid-item {
  border-radius: 14%;
  display: inline-block;
  // background-color: $border-color;
  transition: transform $function-transition;
  &:hover {
    transform: scale(2);
    z-index: 2;
  }
  &:not(:last-child) {
    margin-right: 2px;
  }
  margin-bottom: 2px;
  @media screen and (min-width: 320px) {
    width: calc((100vw - 55px) / 7);
    height: calc((100vw - 55px) / 7);
  }
  @media screen and (min-width: 480px) {
    width: 60px;
    height: 60px;
    &:not(:last-child) {
      margin-right: 3px;
    }
    margin-bottom: 3px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    &:not(:last-child) {
      margin-right: 4px;
    }
    margin-bottom: 4px;
    width: 85px;
    height: 85px;
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 6px;
    }
    margin-bottom: 6px;
    width: 139px;
    height: 139px;
  }
}
.big {
  border-radius: 7%;
  @media screen and (min-width: 320px) {
    width: calc((100vw - 55px) / 3.5);
    height: calc((100vw - 55px) / 3.5);
  }
  @media screen and (min-width: 480px) {
    width: 124px;
    height: 124px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 175px;
    height: 175px;
  }
  @media screen and (min-width: 1280px) {
    width: 285px;
    height: 285px;
  }
}
.first-column {
  margin-top: 14%;
  &:hover {
    transform: translatex(30%) scale(2);
  }
}
.second-column {
  margin-top: 8.7%;
}
.fourth-column {
  margin-top: 10%;
}
.fifth-column {
  margin-top: 5.2%;
}
.sixth-column {
  margin-top: 15.3%;
  &:hover {
    transform: translatex(-30%) scale(2);
  }
}
