.header-section {
  position: absolute;
  top: 7px;
  z-index: 100;
  @media screen and (min-width: 768px) {
    top: 37px;
  }
}
.container__header {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

// logo style
.logo {
  width: 199px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__text {
  color: $title-text-color;
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.06;
}

// btn
.hero-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    padding: 12px 37px;

    background-color: white;
    color: $title-text-color;

    font-family: inherit;
    font-style: inherit;
    font-weight: 700;
    font-size: 16px;
    font-weight: 1.3;

    border-radius: 22px;

    transition: background-color $function-transition;
    &:hover,
    &:focus {
      background-color: $first-accent-color;
    }
  }
}

//mobile menu
.sitenav--sidebar {
  display: none;
}

// sitenav desktop
.sitenav {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    display: flex;
    align-items: center;
  }
}
.sitenav__item + .sitenav__item {
  margin-left: 35px;
}
.sitenav__link {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: white;
}

// hero
.hero-section {
  padding-top: 193px;
  padding-bottom: 160px;
  background-color: $secondary-background-color;

  position: relative;
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 171px;
    padding-bottom: 45px;
  }
}
.hero__title {
  max-width: 218px;
  color: white;

  font-family: Titan One, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04;

  position: relative;
  z-index: 50;
  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 277px;
    font-size: 38px;
  }
}
.hero__title--accent {
  color: $title-text-color;
  font-size: 48px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero-nav {
  display: flex;
  position: relative;
  z-index: 49;
}
.hero-nav__item {
  margin-top: 19px;
  padding: 6px 14px;
  background-color: $title-text-color;
  border-radius: 22px;
  & + .hero-nav__item {
    margin-left: 8px;
  }
  & .hero-nav__link {
    display: flex;
    align-items: center;
    color: white;

    font-size: 8px;
    line-height: 1.25;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 25px;
    padding-bottom: 13px 22px;
    cursor: pointer;
    & + .hero-nav__item {
      margin-left: 15px;
    }
    & .hero-nav__link {
      font-size: 14px;
    }
    &:hover,
    &:focus {
      background-color: $second-accent-color;
    }
  }
}
.hero-nav__item--white {
  background-color: white;
  & .hero-nav__link {
    color: $title-text-color;
  }
  @media screen and (min-width: 1200px) {
    &:hover,
    &:focus {
      background-color: $first-accent-color;
    }
  }
}

// description block
.hero-description {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    display: flex;
    align-items: flex-end;
    margin-top: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 56px;
  }
}
.hero-description__text {
  max-width: 114px;
  margin-bottom: 7px;

  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;

  color: white;
  @media screen and (min-width: 1280px) {
    max-width: 200px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 20px;
  }
}
.hero-description__icon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 100%;
  fill: $title-text-color;
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

// figuranes
.hero-figur {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 96px;
    right: 44px;
  }
  @media screen and (min-width: 1280px) {
    top: 156px;
    right: 97px;
  }
}

.hero-figur__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & + .hero-figur__item {
    margin-top: 13px;
  }
  @media screen and (min-width: 1280px) {
    & + .hero-figur__item {
      margin-top: 15px;
    }
  }
}

.hero-figur__number {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;

  color: $title-text-color;
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.13;
  }
}
.hero-figur__place {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  color: white;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

// background circle
.hero-circle {
  width: 346px;
  height: 344px;
  background-color: $label-text-color;
  border-radius: 172px;

  position: absolute;
  top: 83px;
  left: 36px;
  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    border-radius: 100%;
    top: 31px;
    left: 307px;
  }
  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    border-radius: 100%;
    top: 52px;
    left: 475px;
  }
}
// imgages
.img-milk {
  @media screen and (min-width: 768px) {
    width: 188px;
    height: 191px;
  }
}

.img-icecream {
  position: absolute;
  bottom: 0;
  right: 32px;
  @media screen and (min-width: 768px) {
    right: 275px;
  }
  @media screen and (min-width: 1280px) {
    right: 450px;
  }
}
.img-girl {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;

    position: absolute;
    bottom: 0;
    right: 34px;
  }
  @media screen and (min-width: 768px) {
    bottom: 0;
    right: 109px;
  }
}
