.header-section {
  position: absolute;
  z-index: 95;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 6px;
  width: 100vw;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.container__header {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    width: 100vw;
  }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 46px;
  }
}

// logo style
.logo {
  width: 199px;
  display: flex;
  align-items: center;
}
.logo__text {
  color: $title-text-color;
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.06;
  margin-left: 18px;
}
.logo__icon {
  background-color: white;
  border-radius: 100%;
}

// btn
.hero-btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    display: inline-block;
    padding: 12px 37px;

    background-color: white;
    color: $title-text-color;

    border-radius: 22px;

    font-family: inherit, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    transition: background-color $function-transition;
    &:hover,
    &:focus {
      background-color: $first-accent-color;
    }
  }
}

.btn-gap {
  margin-right: 12px;
}

//mobile menu
.sitenav-menu {
  display: block;
  position: fixed;
  // position: absolute;
  right: 0;
  margin-top: -6px;

  @media screen and (min-width: 768px) {
    margin-top: -37px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu-btn {
  width: 20px;
  height: 12px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  top: 10px;
  right: 28px;
  @media screen and (min-width: 480px) {
    right: calc((100vw - 480px) / 2 + 20px);
  }
  @media screen and (min-width: 768px) {
    top: 39px;
    right: calc((100vw - 768px) / 2 + 232px);
  }
}
.menu-icon,
.menu-icon::before,
.menu-icon::after {
  display: block;
  width: 100%;
  height: 2px;

  background-color: $title-text-color;
  position: absolute;
}
.menu-icon {
  &::after {
    content: ' ';
    top: 8px;
  }
  &::before {
    content: ' ';
    top: -8px;
  }
}

.menu {
  background-color: $menu-background-color;
  position: absolute;

  top: 0;
  visibility: hidden;
  right: -250px;
  // transform: translateX(250px);

  z-index: 99;
  transition: right $function-transition;
  // transition: transform $function-transition;

  @media screen and (min-width: 768px) {
    right: -40vw;
  }
}
.checkbox:checked ~ .menu {
  position: fixed;
  width: 250px;
  height: 100vh;
  padding-top: 60px;
  overflow: auto;

  // margin: 0;
  // padding: 60px 24px;
  visibility: visible;
  right: 0;
  bottom: 0;
  // transform: translateX(0);

  @media screen and (min-width: 768px) {
    width: 40vw;

    top: 0;
  }
}
.checkbox {
  opacity: 0;

  &:checked ~ .menu > .hero-btn--menu {
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 12px 48px;
    margin: 0 auto;

    background-color: white;
    color: $title-text-color;

    border-radius: 22px;

    font-family: inherit, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }
  &:checked ~ .menu .menu__list {
    display: block;
    margin-top: 19px;
  }

  &:checked ~ .menu-btn > .menu-icon::before,
  &:checked ~ .menu-btn > .menu-icon::after {
    background-color: white;
  }
  &:checked ~ .menu-btn > .menu-icon {
    transform: rotate(45deg);
  }
  &:checked ~ .menu-btn > .menu-icon::before {
    transform: rotate(0);
    top: 0;
  }
  &:checked ~ .menu-btn > .menu-icon::after {
    transform: rotate(90deg);
    top: 0;
  }
  &:checked ~ .menu-btn {
    top: 10px;
    right: 28px;
  }
  @media screen and (min-width: 768px) {
    &:checked ~ .menu-btn {
      position: absolute;
      right: 34px;
      top: 23px;
    }
  }
}
.hero-btn--menu {
  display: none;
}
.menu__list {
  display: none;
}

.menu__item {
  padding-left: 24px;
  display: block;

  height: 42px;

  align-items: flex-end;
  display: flex;

  border-top: 0.5px solid #c4c4c430;
  &:last-child {
    border-bottom: 0.5px solid #c4c4c430;
  }
}

// sitenav desktop
.sitenav {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    display: flex;
    align-items: center;
  }
}
.sitenav__item + .sitenav__item {
  margin-left: 35px;
}
.sitenav__link {
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: white;
  &:active,
  &:hover,
  &:focus {
    color: $title-text-color;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.3;
  }
}

// hero
.hero-section {
  padding-top: 193px;
  padding-bottom: 160px;
  background-color: $secondary-background-color;

  position: relative;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 171px;
    padding-bottom: 45px;
  }
}
.hero__container {
  position: relative;
}
.hero__title {
  max-width: 218px;
  color: white;

  font-family: Titan One, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04;

  position: relative;
  z-index: 90;
  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 277px;
    font-size: 38px;
  }
}
.hero__title--accent {
  color: $title-text-color;
  font-size: 48px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

// button after headline
.hero-nav {
  margin-top: 19px;
  display: flex;
  position: relative;
  z-index: 89;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 25px;
  }
}
.hero-nav__item {
  padding: 6px 14px;
  background-color: $title-text-color;
  border-radius: 22px;
  & + .hero-nav__item {
    margin-left: 8px;
  }

  @media screen and (min-width: 1280px) {
    padding: 13px 22px;
    cursor: pointer;
    transition: background-color $function-transition;

    & + .hero-nav__item {
      margin-left: 15px;
    }

    &:hover,
    &:focus {
      background-color: $second-accent-color;
    }
  }
}

.hero-nav__link {
  display: flex;
  align-items: center;
  color: white;

  font-size: 8px;
  line-height: 1.25;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.25;
  }
}

.hero-nav__item--white {
  background-color: white;
  & .hero-nav__link {
    color: $title-text-color;
  }
  @media screen and (min-width: 1280px) {
    &:hover,
    &:focus {
      background-color: $first-accent-color;
    }
  }
}

// description block
.hero-description {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    display: flex;
    align-items: flex-end;
    margin-top: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 56px;
    position: relative;
    z-index: 70;
  }
}
.hero-description__text {
  max-width: 114px;
  margin-bottom: 7px;

  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;

  color: white;
  @media screen and (min-width: 1280px) {
    max-width: 200px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 20px;
  }
}
.hero-description__icon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 100%;
  fill: $title-text-color;
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

// figuranes
.hero-figur {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;

    top: 94px;
    right: calc((100vw - 768px) / 2 + 34px);
  }
  @media screen and (min-width: 1280px) {
    top: 156px;
    right: calc((100vw - 1280px) / 2 + 115px);
  }
}

.figur-circle {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 100%;

  position: absolute;
  transform: translate(50%, -25%);

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.hero-figur__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  & + .hero-figur__item {
    margin-top: 13px;
  }
  @media screen and (min-width: 1280px) {
    & + .hero-figur__item {
      margin-top: 15px;
    }
  }
}

.hero-figur__number {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;

  color: $title-text-color;

  z-index: 70;
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.13;
  }
}
.hero-figur__place {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  color: white;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

// background circle
.hero-circle {
  width: 346px;
  height: 344px;
  background-color: $label-text-color;
  border-radius: 100%;
  position: absolute;
  left: calc((100vw - 320px) / 2 + 36px);
  top: 83px;
  animation: circle 550ms ease;
  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    top: 31px;
    left: calc((100vw - 768px) / 2 + 307px);
  }
  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    top: 52px;
    left: calc((100vw - 1280px) / 2 + 475px);
  }
}
@keyframes circle {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
// images

.img-icecream {
  position: absolute;
  bottom: 0;
  left: calc((100vw - 320px) / 2 + 117px);
  width: 171px;
  @media screen and (min-width: 768px) {
    left: calc((100vw - 768px) / 2 + 378px);
    width: 143px;
  }
  @media screen and (min-width: 1280px) {
    left: calc((100vw - 1280px) / 2 + 594px);
    width: 236px;
  }
}
.img-girl {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 168px;
    right: calc((100vw - 768px) / 2 + 34px);
    bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 293px;
    right: calc((100vw - 1280px) / 2 + 115px);
  }
}
