
    
.products__headind-label {
font-family: titan one;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFA5BA;
}
.products__heading{
    font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 58px;
line-height: 66px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #D41443;

}
.products-block__menu{
    
    width: 330px;
    background: #FFB8CA;
border-radius: 24px;

}



.product-menu__item__text{
    font-family: Titan One;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
margin-top: 5px;
color: #FFFFFF;

}

.ice-coffee{
    background-image: url("/images/product-2d-335@1x.png");
    background-position-x: center;
   
    margin-left: auto;
    margin-right: auto;
    width: 335px;
    height: 335px;
    margin-bottom: 38px;
    background-repeat: no-repeat;
}
.product-menu__item__decoration{
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 32px;

    
    color: #FFFFFF;
}
.ice-cream{
    background-image: url("/images/product-1m-670@1x.png");
    background-position-x: center;
   
    margin-left: auto;
    margin-right: auto;
    width: 335px;
    height: 335px;
    margin-bottom: 38px;
    background-repeat: no-repeat;
}
.products__block {
    display: flex;
    flex-wrap: wrap;

}
.product-menu__item__information{
    font-family: DM SANS;
    font-style: normal;
    font-weight: bolt;
    font-size: 16px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 241px;
    margin-top: 32px;

}
.products__menu{
    width: 335px;
  

}