.customer-reviews {
    margin-top: 80px;
    margin-bottom: 86px;
    @media screen and (min-width: 768px) {
      margin-top: 121px;
      margin-bottom: 119px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 123px;
      margin-bottom: 132px;
    }

  }
  .customer-reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
  }
  .customer-reviews__image {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  .customer-reviews__wrapper {
    margin-bottom: 30px;
    padding: 43px 66px 26px 57px;
    background-color: #fafafa;
    min-width: 280px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      padding: 30px 36px 28px 40px;
      margin-bottom: 24px;
    }
    @media screen and (min-width: 1280px) {
      padding: 32px 54px 32px 50px;
      margin-bottom: 15px;
    }
  }
  .customer-reviews__feedback {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(31 / 12);
    text-align: center;
    letter-spacing: 0.04em;
  
    background-image: linear-gradient(
      0deg,
      #e1e1e1 1%,
      transparent 1%,
      transparent 50%,
      #e1e1e1 50%,
      #e1e1e1 51%,
      transparent 51%,
      transparent 100%
    );

  
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: calc(31 / 14);
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: calc(31 / 16);
    }
  
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: -14px;
      left: 10px;
      width: 54px;
      height: 40px;
  
      background-image: url('../images/quotes.svg');
      background-repeat: no-repeat;
      background-size: contain;
  
      z-index: -1;
  
      @media screen and (min-width: 480px) {
        left: -20px;
      }
    }
  }
  .customer-reviews__location {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    margin-bottom: 30px;
    &::before {
      content: '';
      display: block;
      margin: 0 auto;
      margin-bottom: 18px;
      text-align: center;
      width: 32px;
      height: 4px;
  
      background-image: url('../images/dotes.svg');
      @media screen and (min-width: 768px) {
        margin-bottom: 15px;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 35px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 20px;
    }
  }

//   .swiper {
//     width: 100%;
//     height: 100%;
// }

// .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;

//     /* Center slide text vertically */
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     -webkit-justify-content: center;
//     justify-content: center;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     -webkit-align-items: center;
//     align-items: center;
// }

.swiper-pagination-bullet-active {
    background-image: url('../images/home.svg');
    background-size: cover;
    border-radius: unset;
    width: 12px;
    height: 12px;
}
